<h2 class="ui center aligned icon header">
  <i class="circular inverted teal comments icon"></i>
  Say it
</h2>
<div class="ui two column grid">
    <div class="ui twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui feed">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                         <input type="text" placeholder="Send..">
                        <i class="bordered inverted yellow paper plane icon"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ui four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                    <div class="ui inverted teal vertical menu">
                        <a class=" item">
                            Home
                        </a>
                        <a class="item">
                            Messages
                        </a>
                        <a class="item">
                            Friends
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
